html, body {
    height: 100%;
    margin: 0;
    transition: background-color 0.4s ease;
    background-color: #ffffff;
}

body.tema-vapor,
html.tema-vapor {
    background-color: #E7A8FF !important;
}

body.tema-lavanda,
html.tema-lavanda {
    background-color: #BD99E8 !important;
}

body.tema-cielo,
html.tema-cielo {
    background-color: #A8C7FF !important;
}

.card {
    background-color: #ffffff !important;
    border: none;
}