html, body {
    height: 100%;
    margin: 0;
    transition: background-color 0.4s ease;
}
.tema-vapor {
    background-color: #E7A8FF !important;
}

.tema-lavanda {
    background-color: #BD99E8 !important;
}

.tema-cielo {
    background-color: #A8C7FF !important;
}

.card {
    background-color: #ffffff !important;
    border: none;
}